{% extends 'products/base.html' %}
{% block title %} خانه {% endblock %}

{% block content %}
<div class="row">
    <div class="col-3 p-3">
        <div class="row">
            <div class="card side " id="categories-card" style="width: 100%;height: 100%">
                <div class="card-header side-header text-right">
                    <p class="card-text  text-right" style="font-size: 18px; margin-right: 2px">
                        دسته‌بندی ها </p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <nav id="cat-column" style="direction:rtl">
                                {% for category in categories %}
                                <a href="{% url 'products:products_category' category.id %}">{{category.name}}</a>
                                {% endfor %}
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card side mt-3" style="width: 100%;height: 100%">
                <div class="card-header side-header">
                    <div class="card-title  text-right">
                        <p>برچسب ها</p>
                    </div>
                </div>
                <div class="card-body" id="body-tags">
                    {% for tag in tags %}
                    <button id="button-tag"><a href="{% url 'products:products_tag' tag.id %}">{{tag.name}}</a></button>
                    
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-9 p-3">
        <div class="row">
            {% for product in products %}
            <!-- a product -->
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="{{product.image.url}}" alt="Card image cap">
                    <div class="card-body">
                        <a href="{% url 'products:product' product.id %}" class=" card-title stretched-link">
                            {{product.name|slice:":70"}}
                        </a>
                        <h3 class="card-title text-left">{{product.price}} <small>تومان</small> </h3>
                    </div>
                </div>
            </div>
            <!-- /a product -->
            {% endfor %}
        </div>
    </div>

</div>

{% endblock %}