{% extends 'products/base.html' %}
{% block title %} خانه {% endblock %}

{% block content %}
<div class="row">
    <div class="col-3 p-3">
        <div class="row">
            <div class="card side " id="categories-card" style="width: 100%;height: 100%">
                <div class="card-header side-header text-right">
                    <p class="card-text  text-right" style="font-size: 18px; margin-right: 2px">
                        دسته‌بندی ها </p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <nav id="cat-column" style="direction:rtl">
                                {% for category in categories %}
                                <a onclick="get_list_by_category('{{category.id}}')">{{category.name}}</a><br>
                                {% endfor %}
                            </nav>
                        </div>
                    </div>
                </div>

                <div class="card side mt-3" style="width: 100%;height: 100%">
                    <div class="card-header side-header">
                        <div class="card-title  text-right">
                            <p>برچسب ها</p>
                        </div>
                    </div>
                    <div class="card-body" id="body-tags">
                        {% for tag in tags %}
                        <button id="button-tag"><a
                                href="{% url 'products:products_tag' tag.id %}">{{tag.name}}</a></button>

                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>


    </div>
    <div class="col-9 p-3">
        <div class="row" id="products">




        </div>

        <nav aria-label="Page navigation example">
            <ul class="pagination d-flex justify-content-center" id="pagination_nav">

            </ul>
        </nav>
    </div>






    <script>
        function get_list_by_category(category) {
            console.log(category);
            $.ajax
                ({
                    url: "{% url 'products_api:category' %}",
                    type: "GET",
                    data: {
                        category: category,
                    },
                    success: function (response) {
                        page_content(response.results)
                        page_nav(response.previous, response.next)
                    },
                });

        }
        function get_products_list() {
            $.ajax
                ({
                    url: "{% url 'products_api:products' %}",
                    type: "GET",

                    success: function (response) {
                        page_content(response.results)
                        page_nav(response.previous, response.next)
                    },
                });

        }
        function page_content(products) {
            content = $("#products")
            content.empty()
            console.log(products);
            for (let i = 0; i < products.length; i++) {
                product = products[i]

                content.append($(`

            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="${product.image}" alt="Card image cap">
                    <div class="card-body">
                        <a href="{% url 'products:products'%}/${product.id} " class=" card-title stretched-link">
                            ${product.name}
                        </a>
                        <h3 class="card-title text-left">${product.price} <small>تومان</small> </h3>
                    </div>
                </div>
            </div>

            `))
            }
        }
        function page_nav(previous, next) {
            content = $("#products")

            if (previous || next) {


                nav = $("#pagination_nav")
                nav.empty()
                if (previous) {
                    console.log(previous);
                    nav.append($(`<li class="page-item" id="pagenum_nav">
                    <a class="page-link" aria-label="Previous" onclick="get_page($('#previous_page').val())">
                        <span aria-hidden="true">&laquo;</span>
                        <input type="hidden" value="${previous}" id="previous_page">
                        <span class="sr-only">Previous</span>
                    </a>
                </li>`))
                }

                if (next) {
                    console.log(next);
                    nav.append($(`<li class="page-item">
                    <a class="page-link" aria-label="Next" onclick="get_page($('#next_page').val())">
                        <span aria-hidden="true">&raquo;</span>
                        <input type="hidden" value="${next}" id="next_page">
                        <span class="sr-only">Next</span>
                    </a>
                </li>`))
                }
            }
        }
        function get_page(page_link) {
            console.log(page_link);
            $.ajax
                ({
                    url: page_link,
                    type: "GET",

                    success: function (response) {
                        page_content(response.results)
                        page_nav(response.previous, response.next)
                    },
                });
        }
        $(document).ready(get_products_list())


    </script>
    {% endblock %}