{% extends 'customers/profile_base.html' %}
{% load static %}
{% load i18n%}
{% block title %}  {% translate "Change Password"%} {% endblock %}

{% block profile_content %}

<div class="row">
    <div class="col mx-auto">
        <div class="card mx-auto text-center my-5" style="border-radius: 25px; width: 50vw;  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
        font-size: 1.4vw;">
            <form id="change_password_form" action="" enctype="multipart/form-data" class="form-signin p-3">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        <label for="old_password" class="my-4">{% translate "Old Password"%}: </label><br>
                        <input type="password" name="old_password" id="old_password"><br>
                    </div>
                    <div class="form-group col-md-6 mb-0">

                    </div>
                    <div class="form-group col-md-6 mb-0">
                        <label for="password" class="my-4"> {% translate "New Password"%}: </label><br>
                        <input type="password" name="password" id="password"><br>
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        <label for="password2" class="my-4"> {% translate "Repeat New Password"%}: </label><br>
                        <input type="password" name="password2" id="password2"><br>
                    </div>
                </div>




                <input type="button" id="submit" value=" {% translate 'Change Password'%}" class="btn btn-primary my-5"
                    style="font-size: 1.2vw;">
            </form>
        </div>
    </div>
</div>

<script>
    change_password_url = "{% url 'customers_api:change_password' %}"
    change_password_text = "{% translate 'Your password changed successfully'%}"
</script>
<script src="{% static 'js/change_password.js' %}"></script>
{% endblock %}