{% extends 'products/base.html' %}

{% block title %} ورود {% endblock %}

{% block content %}

<div class="row" >
    <div class="col mx-auto">
        <div class="card mx-auto text-center my-5" style="border-radius: 25px; width: 30vw; height: 60vh; box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
        font-size: 1.4vw;">
            <form id="change_password_form" action="" enctype="multipart/form-data" class="form-signin p-3">
                {% csrf_token %}
                <label for="old_password" class="my-4"> کلمه عبور قدیمی: </label><br>
                <input type="password" name="old_password" id="old_password"><br>
                <label for="password" class="my-4"> کلمه عبور جدید: </label><br>
                <input type="password" name="password" id="password"><br>
                <label for="password2" class="my-4"> تکرار کلمه عبور جدید: </label><br>
                <input type="password" name="password2" id="password2"><br>

                <input type="button" id="submit" value="تغییر کلمه عبور" class="btn btn-primary my-5"
                    style="font-size: 1.4vw;">
            </form>
        </div>
    </div>
</div>

<script>
    $("#submit").on('click', function () {

        data = $("#change_password_form").serialize()
        // data = { 'old_password': $("#old_password").val(), 'password': $("#password").val(), 'password2': $("#password2").val() }
        // data = JSON.stringify(data)
        console.log(data);
        // send ajax
        $.ajax({
            // url: $("#take_courses").attr('action'), // url where to submit the request
            url: "{% url 'customers_api:change_password' %}", // url where to submit the request
            type: "POST", // type of action POST || GET
            dataType: 'json', // data type
            // contentType: "application/json; charset=utf-8",
            data: data, // post data || get data
            success: function (result) {
                console.log("success");
                // you can see the result from the console
                // tab of the developer tools
                console.log(result);
                alert('کلمه عبور شما با موفقیت تغییر کرد')

            },
            error: function (xhr, resp, text) {
                console.log("error");
                console.log(xhr, resp, text);
            }
        })
    });
</script>
{% endblock %}