{% extends 'products/base.html' %}
{% load static %}
{% load i18n%}
{% block title %} {% translate 'Reset Password'%} {% endblock %}

{% block content %}

<div class="row">
    <div class="col mx-auto">
        <div class="card mx-auto text-center my-5" style="border-radius: 25px; width: 30vw; height: 60vh; box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
        font-size: 1.4vw;" id="form_container">
            <form id="password_reset_form" method="post"
                action="{% url 'customers_api:password_reset:reset-password-request' %}" enctype="multipart/form-data"
                class="form-signin p-3">
                {% csrf_token %}
                <label for="email" class="my-4">{% translate "Email"%}:</label><br>
                <input type="email" name="email"><br>
                <input type="button" id="submit" onclick="send_email()" value="{% translate 'Reset Password'%}"
                    class="btn btn-primary my-5" style="font-size: 1.4vw;">
            </form>

        </div>
    </div>
</div>
<script>
    reset_password_confirm_url = "{% url 'customers_api:password_reset:reset-password-confirm' %}"
    token_send_text = "{% translate 'Token was sent to your email'%}"
    token_text = "{% translate 'token'%}"
    new_password_text = "{% translate 'New password'%}"
    change_password_text = "{% translate 'Change password'%}"
    change_password_msg = "{% translate 'Your password changed successfully'%}"
</script>
<script src="{% static 'js/password_reset.js' %}"></script>

{% endblock %}