{% extends 'products/base.html' %}

{% block title %} ورود {% endblock %}

{% block content %}

<div class="row">
    <div class="col mx-auto">
        <div class="card mx-auto text-center my-5" style="border-radius: 25px; width: 30vw; height: 60vh; box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
        font-size: 1.4vw;" id="form_container">
            <form id="password_reset_form" method="post"
                action="{% url 'customers_api:password_reset:reset-password-request' %}" enctype="multipart/form-data"
                class="form-signin p-3">
                {% csrf_token %}
                <label for="email" class="my-4">ایمیل:</label><br>
                <input type="email" name="email"><br>
                <input type="button" id="submit" onclick="send_email()" value="بازیابی گذرواژه"
                    class="btn btn-primary my-5" style="font-size: 1.4vw;">
            </form>

        </div>
    </div>
</div>

<script>
    function send_email() {
        console.log("RUN");
        var form = $("#password_reset_form")
        // send ajax
        $.ajax({
            // url: $("#take_courses").attr('action'), // url where to submit the request
            url: form.attr('action'), // url where to submit the request
            type: "POST", // type of action POST || GET
            dataType: 'json', // data type
            data: form.serialize(), // post data || get data
            success: function (result) {
                console.log("success");
                // you can see the result from the console
                // tab of the developer tools
                console.log(result);
                alert("توکن بازیابی به ایمیل شما ارسال شد")
                $("#form_container").empty()
                $("#form_container").append(` <form id="password_reset_form" method="post" action="{% url 'customers_api:password_reset:reset-password-confirm' %}" enctype="multipart/form-data"
                class="form-signin p-3">
                {% csrf_token %}
                <label for="token" class="my-4">توکن:</label><br>
                <input type="text" name="token"><br>
                <label for="password" class="my-4">گذرواژه جدید:</label><br>
                <input type="password" name="password"><br>
                <input type="button" id="submit" onclick="change_password()" value="تغییر گذرواژه" class="btn btn-primary my-5"
                    style="font-size: 1.4vw;">
            </form>`)
            },
            error: function (xhr, resp, text) {
                console.log("error");
                console.log(xhr, resp, text);
            }
        })
    }

    function change_password() {
        console.log("RUN");
        var form = $("#password_reset_form")
        // send ajax
        $.ajax({
            // url: $("#take_courses").attr('action'), // url where to submit the request
            url: form.attr('action'), // url where to submit the request
            type: "POST", // type of action POST || GET
            dataType: 'json', // data type
            data: form.serialize(), // post data || get data
            success: function (result) {
                console.log("success");
                // you can see the result from the console
                // tab of the developer tools
                console.log(result);
                alert("گذرواژه با موفقیت تغییر کرد")

            },
            error: function (xhr, resp, text) {
                console.log("error");
                console.log(xhr, resp, text);
            }
        })
    }



</script>

{% endblock %}