{% extends 'products/base.html' %}
{% load static %}
{% load i18n%}
{% block title %} {% translate 'register'%} {% endblock %}

{% block content %}

<div class="row">
    <div class="col mx-auto">
        <div class="card mx-auto text-center my-5"
        style="border-radius: 25px; width: 30vw;  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
        font-size: 1.4vw;">
            <form id="register_form" method="post" action="{% url 'customers_api:register' %}" enctype="multipart/form-data" class="form-signin p-3">
                {% csrf_token %}
                <label for="username" class="my-4" required>{% translate 'Username'%}:</label><br>
                <input type="text" name="username"><br>
                <label for="password" class="my-4">{% translate 'Password'%}:</label><br>
                <input type="password" name="password"><br>
                <label for="email" class="my-4">{% translate 'Email'%}:</label><br>
                <input type="email" name="email"><br>
                <input type="button" id="submit" value="{% translate 'Register'%}" class="btn btn-primary my-5" style="font-size: 1.4vw;">
            </form>
        </div>
    </div>
</div>

<script>
   register_url = "{% url 'customers_api:register' %}"
   registration_msg_text = "{% translate 'Your registration was successful'%}"
</script>
<script src="{% static 'js/register.js' %}"></script>

{% endblock %}