{% extends 'customers/profile_base.html' %}
{% load crispy_forms_tags %}
{% load i18n%}
{% block profile_content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{message.tags}} text-center" role="alert">
    <h4 class="alert-heading">{{ message }} </h4>
</div>
{% endfor %}
{% endif %}

<div class="row">
    <div class="col mx-auto">
        <div class="card mx-auto my-5" style="border-radius: 25px; width: 50vw; ; box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
        font-size: 1.4vw;">
            <form id="register_form" method="post" action="{% url 'customers:user_info' %}" enctype="multipart/form-data"
                class="form-signin p-3">
                {% csrf_token %}
                <!-- {{ userForm|crispy }}
                {{ customerForm|crispy}}
                {{ addressForm|crispy }} -->
                <div class="form-row">
                    
                    <div class="form-group col-md-6 mb-0">
                        {{ userForm.first_name|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ userForm.last_name|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ userForm.email|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ userForm.mobile|as_crispy_field }}
                    </div>

                </div>

                <input type="submit" id="submit" value="{% translate 'Change Info'%}"  class="btn btn-primary my-5">
            </form>
        </div>
    </div>
</div>

{% endblock %}