{% extends 'products/base.html' %}

{% block title %} تاریخچه سفارشات {% endblock %}

{% block content %}
{% csrf_token %}
{% if orders %}
<table class="table table-striped mt-5">
    <thead>
        <tr>
            <th>شماره سفارش</th>
            <th>تاریخ سفارش</th>
            <th>وضعیت</th>
        </tr>
    </thead>

    {% for order in orders %}
    <tr>
        <td>
            {{ order.id }}
        </td>
        <td>
            {{ order.date }}
        </td>
        <td>
            {{ order.status }}
        </td>
    </tr>

    {% endfor %}
</table>


{% else %}
<p>No Orders yet</p>
{% endif %}

{% endblock %}